:root {
	--main-color: #323232;
	--color-one: #c4bfff;
	--color-sms: #d0dcff;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-bg: #f2f7ff;
	--color-title: #1c1b1f;
	--color-red: #cf1b1b;
	--color-default: #6750a4;
	--color-input: #E7E0EC;
	--color-body: #98C0FF;
}
